#title{
    background-color:#ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 7%;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    size: 4rem;
    line-height: 1.5;
}

h3{
    font-family:'Montserrat-bold', sans-serif;
}

h2{
    font-family:'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

p{
    color: gray;
}



.navbar{
    padding-bottom: 4rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.download_button{
    margin: 5% 3% 30% 0;
}



.title_img{
    width: 20%;
    transform: rotate(25deg);
    position: absolute; 
    top: 200px; 
    right: 22%;  
    
}
@media (max-width: 1028px) {
    #title{
        text-align: center;
    }

    .title_img{
        width:60%;
        transform: none;
        position: static;
    }
    .download_button{
        margin: 5% 3% 5% 0 ;
    }

}


#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
 
    
    
}

.size{
    text-align: center;
    padding: 5%;
}

.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68
}

#testimonials{
    background-color: #ef8172;
    
    text-align: center;
    color: #fff;

}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    padding: 20px 20px 50px;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-col{
    padding: 2% 3%;
}

#cta{
    background-color:#ff4c68;
    color: #fff;
    text-align: center;
    padding-top:2rem ;
}

.footer-button{
    margin: 3rem 1rem;
}

#footer{
    text-align: center;
    margin: 4rem;
}

.footer-icon{
    margin: 0 5px 0 5px;
}

.cta-h3{
    font-family:'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}